body{
    font-family: "M PLUS Rounded 1c"; 
}

#header{
    background-color: limegreen;
}
#header *{
    color: white;
}

.sect-head{
    display: inline;
    border-bottom: 1px solid #000;
}

.d-none{
    display: none;
}

.youtube{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
}

.youtube iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}