<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PORTFOLIO</title>
  <link rel="stylesheet" href="uikit/dist/css/uikit.min.css">
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <header>
    <nav class="uk-navbar-container uk-expand" id="header" uk-navbar>
      <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="#">PORTFOLIO</a>

      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a href="#">
              Home
            </a>
          </li>
          <li>
            <a href="#">
              About
            </a>
          </li>
          <li>
            <a href="#">
              Works
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="uk-container">
    <section class="about uk-section-small">
      <div class="uk-text-center">
        <h2 class="sect-head" id="about">About</h2>
        <div class="uk-margin-top uk-text-left ">
          <p>Github：<a href="https://github.com/himantyu-yuma">himantyu-yuma</a></p>
          <p>Twitter：<a href="https://twitter.com/k_y_kenzen">@k_y_kenzen</a></p>
          <p>Facebook：<a href="https://www.facebook.com/himantyu.yuma">笠原 有真</a></p>
        </div>
      </div>
    </section>

    <section class="works uk-text-center" id="app">
        <h2 class="sect-head" id="works">Works</h2>

        <section class="uk-section-small" id="game">
          <h3 class="sect-head">Game</h3>

          <div class="uk-child-width-1-2@m uk-margin-top" uk-grid>
            <div v-for='game in games'>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <video v-bind:src="game.src" autoplay muted loop playsinline>
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title" v-text="game.title"></h3>
                  <p v-text="game.description"></p>
                  <p>
                    <a v-bind:href="game.link" class="link">紹介ページ</a>
                  </p>
                  <div class="download">
                    <!-- <a class="uk-button uk-button-secondary win" v-bind:disabled="{ disabled: isWin }" v-bind:href="game.win">Win版ダウンロード</a> -->
                    <!-- <a class="uk-button uk-button-secondary mac" v-bind:disabled="{ disabled: isMac }" v-bind:href="game.mac">Mac版ダウンロード</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

        </section>
        <section class="uk-section-small" id="video">
          <h3 class="sect-head">Video</h3>
  
          <div class="uk-child-width-1-2@m uk-margin-top" uk-grid>
            <div v-for='video in videos'>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <video v-bind:class="{'d-none': video.src == null}" v-bind:src="video.src" autoplay muted loop
                    playsinline></video>
                  <div v-bind:class="{'d-none': video.youtube == null}">
                    <iframe width="560" height="315"
                      v-bind:src='video.youtube' frameborder='0'
                      allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture'
                      allowfullscreen></iframe>
                  </div>
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title" v-text="video.title"></h3>
                  <p v-text="video.description"></p>
                </div>
              </div>
            </div>
          </div>
        </section>

    </section>

  </div>

  <script src="jquery/dist/jquery.min.js"></script>
  <script src="uikit/dist/js/uikit.min.js"></script>
  <script src="uikit/dist/js/uikit-icons.min.js"></script>
  <script src="vue/dist/vue.min.js"></script>
  <script src="js/v1.0/main.js"></script>
</body>

</html>