* {
    font-family: "M PLUS Rounded 1c"; 
}

h1{ 
    font-size: 10vw;
    font-weight: bold;
}

h2{
    text-align: center;
    line-height: 300%;
}

h3{
    text-align: center;
    margin: 3rem 0;
}

nav{
    background-color: limegreen;
}

.menu{
    font-weight: bold;
    padding: 5px 30px;
}

.about{
    text-align: center;
}

.about>p{
    text-align: left;
}

.works{
    text-align: center;
}

.works img{
    width: 100%;
}

.description p{
    line-height: 100%;
}

.sec-head{
    display: inline;
    border-bottom: 1px solid #000;
}

iframe{
    width: 100%;
}